{% extends 'mainApp/header.html' %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">The team</h1>

        <div class="row">
            <div class="col-md text-center">
                <h2>George Dougkas</h2>
                <div class="rounded-circle mt-3 mb-3 mx-auto" style="width: 150px; height: 150px; overflow: hidden;">
                    <img src="../../images/gdoug.jpg" class="img-fluid" width="150px" height="150px">
                </div>
                <a href="#" class="btn btn-primary btn-sm mr-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-danger btn-sm mr-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-info btn-sm"><i class="fas fa-envelope"></i></a>
            </div>
            <div class="col-md text-center">
                <h2>Ioanna Marinou</h2>
                <div class="rounded-circle mt-3 mb-3 mx-auto" style="width: 150px; height: 150px; overflow: hidden;">
                    <img src="../../images/gdoug.jpg" class="img-fluid" width="150px" height="150px">
                </div>
                <a href="#" class="btn btn-primary btn-sm mr-2"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="btn btn-danger btn-sm mr-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn btn-info btn-sm"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
    </div>
{% endblock %}