{% extends 'mainApp/header.html' %}

{% block content %}
    <div class="mb-5">
        <div id="movie-nav" data-target="#movie-navbar">
            <div class="container">
                <h4 class="title" id="trailer">{{ movie.title }}</h4>
                <div class="row trailer-wrapper">
                    <div class="col-sm-4 trailer-img-wrapper">
                        <img class="img-fluid" src="{{ movie.image.url }}"
                             alt="{{ movie.title }}"/>
                    </div>
                    <div class="col-sm-8 trailer-video-wrapper">
                        <div class="video-wrapper">
                            <iframe
                                    class="embed-responsive"
                                    src="{{ movie.stream_url }}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4 ">
            <div class="movie-details">
                <p class="rating d-inline-block mr-4"><span
                        class="start">&#9733;</span>: Rating: {{ movie.rating }}/10</p>
                <p class="genre d-inline-block mr-4">Category: <a href="/?category={{ movie.category }}">{{ movie.category }}</a> </p>
                <p class="release-year d-inline-block mr-4">Published Year: {{ movie.year }}</p>
                <p class="release-year d-inline-block">{{ movie.duration_minutes }} min</p>
                <div>
                    <p class =mr-4>Director: {{ movie.director }}</p>
                    <p class =mr-4>Studio: {{ movie.studio }}</p>
                </div>
                <h3 class="summary">Summary:</h3>
                <div>{{ movie.summary }}</div>
            </div>
        </div>

    </div>
{% endblock content %}



