* {
    font-style: "Roboto", "Helvetica", "Ariel", sans-serif;
}

h4, p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body {
    background: #000000 !important;
    overflow: hidden;
    color: rgba(255, 255, 255, .5)!important;
}

.btn-outline-success {
    color: #f5c518 !important;
}

.width-60 {
    width: 60%;
}

.width-90 {
    width: 90%;
}

.form-inline {
    margin-left: auto;
    margin-right: 50px;
}

.custom-select-size {
    min-width: 50px;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.search-input {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.custom-select-size option {
    font-size: 16px;
}

#movie-nav {
    overflow-y: auto;
}

.user-image {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
}

.navbar-text img {
    max-width: 40px;
    background: #efefef;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #f5c518;
}

.navbar-text img:hover {
    background: #f5c518;
    transform: scale(1.5);
    transform-origin: center;
    border-color: white;
    transition: transform 0.5 ease-out;
}

.embed-responsive {
    position: relative;
    height: 100%;
}

.title {
    font-size: 33px;
    color: #f5c518;
    line-height: 40px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar {
    background: #121212;
}

.footer {
    background-color: #121212 !important;
}

.video-wrapper {
    position: relative;
    height: 100%;
}

h2 {
    color: #f5c518 !important;
}

h4 {
    color: #28a745;
}

.content {
    overflow-y: auto;
    max-height: calc(100vh - 115px);
}

.carousel-button {
    display: flex;
    align-items: center;
}

.carousel-control-next {
    right: 5px !important;
    width: 100% !important;
}

.carousel-control-prev {
    left: 5px !important;
    width: 100% !important;
}

.movies-col {

}

.grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    display: grid;
    gap: 20px;
}

.grid-item {
    background-color: dimgrey; /* Set your desired background color */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px !important;
}

.movie-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 150px !important;
}

.movie-details {
    padding: 10px;
}


.rating,
.genre,
.release-year {

}

.movie-title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 2.4em;
    white-space: normal;
    color: #ffd700 !important;
}

.start {
    color: #ffd700;
    font-size: 1.2em;
}

