* {
    font-style: "Roboto", "Helvetica", "Ariel", sans-serif;
}

body {
    background: #000000 !important;
}

.btn-outline-success {
    color: #f5c518 !important;
}

.width-60 {
    width: 60%;
}

.width-90 {
    width: 90%;
}

.form-inline {
    margin-left: auto;
    margin-right: 50px;
}

.custom-select-size {
    min-width: 50px;
    border-top-right-radius: unset!important;
    border-bottom-right-radius: unset!important;
}

.search-input {
    border-top-left-radius: unset!important;
    border-bottom-left-radius: unset!important;
}

.custom-select-size option {
    font-size: 16px;
}

#movie-nav {
    overflow-y: auto;
}

.user-image {
    display: block;
    width: 30px;
    height: 30px;
    float: right;
}

.navbar-text img {
    max-width: 40px;
    background: #efefef;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #f5c518;
}

.navbar-text img:hover {
    background: #f5c518;
    transform: scale(1.5);
    transform-origin: center;
    border-color: white;
    transition: transform 0.5 ease-out;
}

.embed-responsive {
    position: relative;
    height: 100%;
}

.title {
    font-size: 33px;
    color: #f5c518;
    line-height: 40px;
    font-weight: bolder;
    text-decoration: none;
    text-transform: capitalize;
}

.navbar {
    background: #121212;
}

.footer {
    background-color: #121212 !important;
}

.video-wrapper {
    position: relative;
    height: 100%;
}

h2 {
    color: #f5c518 !important;
}

h4 {
    color:#28a745;
}
p {
    color: rgba(255, 255, 255, .5)
}